/* universal */

body {

margin: 0;
font-family: helvetica, sans-serif;
font-size: 22px;
text-align: center;
color: seashell;
background-color: black;
opacity: 0.9;

}

/* header bar */

header {

display: flex;
position: fixed;
flex-grow: 1;
height: 69px;
width: 100%;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid seashell;
z-index: 1;
background-color: black;

}

.logo {

display: inline-block;
padding-left: 10px;

}

.logo img {

  height: 50px;

}

nav {

display: inline-block;

}

nav span {

padding-right: 30px;
color: seashell;
text-decoration: underline;

}

/* content styles */

.content {

display: flex;
flex-direction: column;
align-items: center;
padding-top: 69px;
width: 1200px;
margin: auto;

}

/* mission section */

.mission {

display: flex;
flex-grow: 1;
align-items: center;
width: 100%;
height: 700px;
background-image: url('../images/img-mission-background.jpg')


}

.mission span {

display: inline-block;
width: 100%;
height: auto;
background-color: black;
align-items: center;


}

/* featured section */

.featured {

display: flex;
flex-grow: 1;
justify-content: space-between;
width: 1000px;

}

.featured span {

display: inline-block;
width: 100%;

}

.tea {

display: inline-block;
width: 300px;

}

.tea img {

width: 300px;
height: 200px;

}
